<%- include ("./partials/_header") %>
<div class="container">
  <a href ="/newPost"><button type="button" class="btn btn-primary">Create New Post</button></a>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <% if (posts.length == 0) { %>
        <h1 class="blog-post-title">There are no posts</h1>
      <% } else { %>
        <% for (var i = 0; i < posts.length; i++) { %>
          <div id="post-<%= i + 1 %>" class="blog-post">
            <h2 class="blog-post-title"><%= posts[i].title %></h2>
            <p class="blog-post-meta"><%= posts[i].post_date %> by <a href="#"><%= posts[i].author %></a></p>
            <p><%= posts[i].post_data %></p>
            <a class = "btn btn-danger" href ="/views/delete.ejs"> Delete </a>
            <a class = "btn btn-info" href ="/views/edit.ejs"> Edit </a>
          </div>  
        
        <% } %>
      <% } %>
    </div>
  </div>
</main>
<%- include ("./partials/_header") %>